
    header {
        height: 15vh;
    }

    body {
        height: 75vh;
    }

    footer {
        height: 12vh;
    }

    ul{
        position:relative;
        display: block;
        z-index: 100;
        width: 40%;
        gap:1rem;
        text-align: center;
        left:0;
        top:66px;
        background-color: #0A2647;

    }

    nav ul>li {
        margin-left:0;    
    }

    .navbar-toggler{
        margin-bottom:20px;
    }
    
    
    footer div:nth-child(2) {
        font-size: 20px;
        margin-top: 0;
        position:absolute;
    }
    input[type=checkbox]:nth-child(1){
        margin-left:5px;
    }
    input[type=search] {
        width: 200px;
        padding: 0;
        margin-left: 5px;
    }

    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    label {
        margin-right: 35px;
    }
    .form-container{
        margin-top:0;
    }
    .card-details{
        margin:0px auto;
    }
    table {
        display: inline-block;
        overflow: auto;
        width: 100%;
        height: 300px;
        }
