
header {
    height: 15vh;
}

body {
    height: 75vh;
}

footer {
    height: 12vh;
}


input[type=checkbox]:nth-child(1){
    margin-left:0px;
}


.flex-container {
    flex-wrap: wrap;
}

input[type=search] {
    width: 300px;
    padding: 5px;
    margin-left: 0px;
}
.form-container{
    margin-top:5vh;
}
ul{
    position:relative;
    display: block;
    z-index: 100;
    width: 40%;
    gap:1rem;
    text-align: center;
    left:0;
    top:66px;
    background-color: #0A2647;

}

nav ul>li {
    margin-left:0;    
}

.navbar-toggler{
    margin-bottom:20px;
}