
header {
    height: 15vh;
}

body {
    height: 75vh;
}

footer {
    height: 12vh;
}


input[type=checkbox]:nth-child(1){
    margin-left:0px;
}


.flex-container {
    flex-wrap: wrap;
}

input[type=search] {
    width: 300px;
    padding: 5px;
    margin-left: 0px;
}
.form-container{
    margin-top:5vh;
}